<section id= "results-header">
    <div class="container">
        <div class = "header-block">
            <h1 id="paymentLedger">Mortgage Payoff Calculator</h1>
        </div>
    <div>
</section>

<div class="calc">
  <div class="form-group">
	<form id="form1" method="post" action="/toto">
  </div>
  <p id= "instructions">Enter your amounts into the calculator below to calculate your monthly payments:</p>
  <br>
      <div class= "row">
      	<div class= "col-md-3">
	      	<div class="form-group-principal">
		    	<input id="principal-input" placeholder="Enter Principal Balance" name="currentprincipal"></input><br><br>
				<label class="payoff-label">The amount of loan reaining unpaid, not including interest and other charges</label><br>
		 	</div>
		</div>

		<div class= "col-md-3">
		  	<div class="form-group-payment">
		   		<input id="payment-input" placeholder="Enter Monthly Payment" name="mpayment" ></input><br><br>
			 	<label class="payoff-label">The amount a borrower is required to pay each month until a debt is paid off</label><br>
		  	</div>
		</div>

		<div class= "col-md-3">
		  	<div class="form-group-rate">
		  		<input id="rate-input" placeholder ="Enter Interest Rate as" name="interestrate"></input><br><br>
				<label class="payoff-label">The proportion of a loan that is charged as interest to the borrower, typically expressed as an annual percentage of the loan outstanding</label><br>
		  	</div>
		</div>

		<div class= "col-md-3">
		  	<div class="form-group-additional">
				<input id="additional-input" placeholder="Enter Additional Principal" name="additional"></input><br><br>
		    	<label class="payoff-label">Paying extra money in addition to your required loan payment to help pay off the principal loan amount faster. By making the extra payment, you also reduce the amount of interest paid.</label><br>
		  	</div>
		</div>
	  </div>
	  
	  	<button class="btn btn-primary center" id="submit">Calculate</button>
	 </form>
  </div>
</div>
	
<div id="datadiv"></div>
