<header>
  <nav class="navbar navbar-transparent">
     <a class="navbar-brand" href="#">Loanify</a>
 </nav>
<div class="hero-content">
   <h2 class="hero-title noslider">The mortgate platform made for you</h2>
</div>
<div class="login text-center">
<img src="images/login.svg" class="rounded" alt="login-icon">
</div>
</header>
<div class="value-container">
<div class="row">
 <div class="value-section-left col-xs-12 col-md-8">
     <h1 class="value-header">Effortlessly Manage Your Mortgage</h1>
       <p1 class="value-paragraph">Take the guesswork out of your mortgage payments with our calculator.</p>
         <h6 class="value-points">Principal: Typically, this would be the home’s purchase price, less any down payment It’s the amount you borrow.</h6>
         <h6 class="value-points">Interest: What the lender charges you to loan you the money. Interest rates are expressed as an annual percentage.</h6>
         <h6 class="value-points">Property taxes: The annual tax assessed by a government authority on your home and land.</h6>
         <h6 class="value-points">Mortgage insurance: If your down payment is less than 20% of the home’s purchase price, you’ll likely pay mortgage insurance.</h6>
</div>
<div class="value-section-right col-xs-12 col-md-4">
 <div class="payoff-visual">
   <a href="/calculator"><img src="images/calculator-icon.svg" class="img-responsive" alt="payoff-visual"></a>
</div>
</div>
</div>
</div>
<section>
<div class="numbers-container">
 <h1 class="numbers-header">Current Mortgage Rates</h1>
<div class="row">
   <div class="col-xs-12 col-md-4">
     <div class="interest-rate">
       <h1 class="current-interest-rate">3.875%</h1>
       <h4 class="interest-rate-title">30-Year Fixed</h4>
     </div>
   </div>
   <div class="col-xs-12 col-md-4">
     <div class="interest-rate">
       <h1 class="current-interest-rate">3.125%</h1>
       <h4 class="interest-rate-title">15-Year Fixed</h4>
     </div>
   </div>
   <div class="col-xs-12 col-md-4">
     <div class="interest-rate">
       <h1 class="current-interest-rate">3.375%</h1>
       <h4 class="interest-rate-title">5-Year Arm</h4>
     </div>
   </div>
</div>
</div>
</section>
<section>
<div class="news-container">
<!-- First row -->
<h1 class="news-header">Market News</h1>
<div class="row">
<div class="col-xs-12 col-md-3">
 <!-- Card -->
 <article class="card animated fadeInLeft text-center">
   <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1U2EGZ07GU.jpg" alt="Deer in nature" />
   <div class="card-block">
     <h4 class="card-title text-center">Interest Rates Drop Again</h4>
     <h6 class="text-muted text-center">New York Times</h6>
     <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>
     <a href="#" class="btn btn-primary text-center">Read more</a>
   </div>
 </article>
</div>
 <!-- .end Card -->
 <!-- Card -->
   <div class="col-xs-12 col-md-3">
 <article class="card animated fadeInLeft text-center">
   <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1U2EGZ07GU.jpg" alt="Deer in nature" />
   <div class="card-block">
     <h4 class="card-title text-center">Interest Rates Drop Again</h4>
     <h6 class="text-muted text-center">New York Times</h6>
     <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>
     <a href="#" class="btn btn-primary text-center">Read more</a>
   </div>
 </div>
 </article>
 <!-- .end Card -->
 <!-- Card -->
 <div class="col-xs-12 col-md-3">
 <article class="card animated fadeInLeft text-center">
   <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1U2EGZ07GU.jpg" alt="Deer in nature" />
   <div class="card-block">
     <h4 class="card-title text-center">Interest Rates Drop Again</h4>
     <h6 class="text-muted text-center">New York Times</h6>
     <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>
     <a href="#" class="btn btn-primary text-center">Read more</a>
   </div>
 </article>
</div>
 <!-- .end Card -->
 <div class="col-xs-12 col-md-3">
 <article class="card animated fadeInLeft text-center">
   <img class="card-img-top img-responsive" src="https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1U2EGZ07GU.jpg" alt="Deer in nature" />
   <div class="card-block">
     <h4 class="card-title text-center">Interest Rates Drop Again</h4>
     <h6 class="text-muted text-center">New York Times</h6>
     <p class="card-text">Tired of their servitude to man, a group of farm animals revolt and establish their own society, only to be betrayed into worse servitude by their leaders, the pigs. This satire addresses the communist philosophy the Soviet Union.</p>
     <a href="#" class="btn btn-primary text-center">Read more</a>
   </div>
 </article>
</div>
</div>
</div>
</section>
<footer class="bg-dark text-white mt-4">
</footer>