<header>
       <nav class="navbar navbar-transparent">
          <a class="navbar-brand" href=""><img src="images/logo1.svg" alt="logo">
  </div>
    <li>
      <a href="#">
        <i class="material-icons">account_circle</i>
      </a>
    </li>
</nav>
  <img src="images/calculator.svg" class="img-responsive img-circle margin" style="display:inline" alt="Calculator" width="350" height="350">
    </header>
    <div class="container">
      <div class="row">
        <div id="sectionOne" class="col-sm-4">
          <i class="material-icons lg-48">home</i>
            <h5>PURCHASE YOUR DREAM HOME</h5>
            <h6>Lower your payment</h6>
            <h6>Lower your payment</h6>
            <h6>Lower your payment</h6>
        </div>
      <div id="sectionTwo" class="col-sm-4">
        <i class="material-icons lg-48">home</i>
          <h5>PURCHASE YOUR DREAM HOME</h5>
            <h6>Lower your payment</h6>
            <h6>Lower your payment</h6>
            <h6>Lower your payment</h6>
    </div>
    <div id="sectionThree" class="col-sm-4">
      <i class="material-icons lg-48">home</i>
        <h5>PURCHASE YOUR DREAM HOME</h5>
        <h6>Lower your payment</h6>
        <h6>Lower your payment</h6>
        <h6>Lower your payment</h6>
    </div>
</div>
</div>
