<section id= "results-header">
    <div class="container">
        <div class = "header-block">
            <h1 id="paymentLedger">Payment Ledger</h1>
        </div>
    <div>
</section>
<!--<script id="results" type="text/x-handlebars-template"/>  -->
<div class="value-container">
<div class="row">
 <div class="col-md-12 col-md-12 col-md-12 col-md-12">
 <table class= "box">
    <thead> 
        <th style="padding:80px">Payment Number</th> 
        <th style="padding:80px">Principal</th> 
        <th style="padding:80px">Interest</th> 
        <th style="padding:80px">Payment Amount</th>
    </thead> 
    <tbody> 
        {{#each data}} 
        <tr> 
            <td style="padding: 15px">{{paymentnumber}}</td> 
            <td style="padding: 15px">{{principal}}</td> 
            <td style="padding: 15px">{{interest}}</td> 
            <td style="padding: 15px">{{monthlypayment}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</div>
</div>
</div>