<h1>Payment Ledger</h1>
<!--<script id="results" type="text/x-handlebars-template"/>  -->
 <table>
    <thead> 
        <th>Payment Number</th> 
        <th>Principal</th> 
        <th>Interest</th> 
    </thead> 
    <tbody> 
        {{#each data}} 
        <tr> 
            <td>{{paymentnumber}}</td> 
            <td>{{principal}}</td> 
            <td>{{interest}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 