<h1>Payment Ledger</h1>
<!--<script id="results" type="text/x-handlebars-template"/>  -->
 <table>
    <thead> 
        <th>Payment Number</th> 
        <th>Principal</th> 
        <th>Interest</th> 
        <th>payment amt</th>
    </thead> 
    <tbody> 
        {{#each data}} 
        <tr> 
            <td style="padding: 15px">{{paymentnumber}}</td> 
            <td style="padding: 15px">{{principal}}</td> 
            <td style="padding: 15px">{{interest}}</td> 
            <td style="padding: 15px">{{monthlypayment}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 