<form id='signup' method='post' action='/signupnow'>
<div class="form-group">
	<label>user</label><br>
	<input id="user" name="user"></input><br>
</div>
<div class="form-group">
	<label>password</label><br>
	<input id="password" name="password"></input><br>
</div>
<button class="btn btn-primary" id="submit" >Submit</button>
</form>